/*
    Name: Chelsa Jons
    Data created: June 18, 2025
    Data last edited:
    Version:2.0
    Description: Homework 2 CSS Patient Information Form
*/

header {
    width: 100%;
    text-align: center;
    background-color: #d9a571; 
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(to bottom, #d9a571 19%, #ffcc00 61%);
    margin: 0;
    height: 100%;
    min-height: 100vh; /*make sure the page is the same hight as the viewport*/
}

form{
    flex-grow: 1; /*they'll grow equally to fill the parent element's*/
}

h1,h2{
    text-align: center;
    font-family:"Copperplate";
    font-weight:normal;
    font-size:xx-large;
    flex-grow: 1; 
}

main{
    text-align: center;
    font-family: "Courier New";
    font-weight: normal;
    flex-grow: 1;
}

.image{
    text-align: left;
}

.td1{
    text-align: right;
    font-family:"Charter"
}

th{
    text-align: center;
    font-family:"Copperplate";
    font-weight: normal;
}

footer {
    position: flex;
    bottom: 0;
    width: 100%;
    background-color: #ffcc00;
    height: 3rem;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #333;
    padding: 10px 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    z-index: 1000;
    border-top-left-radius: 10px;
    box-shadow: -2px -2px 5px rgba(0,0,0,0.1);
}


label{
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal; 
}

input{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal; 
}

textarea{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal; 
}

#today{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal; 
}

p{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;  
}

.error {
    color: rgb(126, 97, 97) ;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

.pword-message {
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    position: relative;
    left: 100px;
    background: transparent;
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color:  rgb(254, 234, 146) ;
}
#review {
    margin-top: 5px;
}

table.output,
tr.output,
td.output {
    width: 500px;
    background-color: rgb(95, 95, 95);
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color:  rgb(168, 154, 94) ;
}

td.output {
    width: 500px;
    background-color:  rgb(121, 118, 105);
    padding: 10px;
    border-spacing: 2px;
}
